<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.security.auth.repository.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.security.auth.entity.User">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="del_fag" property="delFag" />
    <result column="update_time" property="updateTime" />
        <result column="enabled" property="enabled" />
        <result column="host" property="host" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="head_portrait" property="headPortrait"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <result column="enable" property="enable"/>
        <collection property="roles" ofType="org.security.auth.entity.Role">
            <result column="id" property="id" />
            <result column="name" property="name" />
        </collection>
    </resultMap>

    <insert id="createNewUser" parameterType="org.security.auth.entity.User">
        INSERT INTO user
        (id,create_time,del_fag,update_time,enabled,username,password)
        values (#{id},now(),#{delFag},now(),#{enabled},#{username},#{password})
</insert>

   <!-- <select id="findUserByName" parameterType="org.security.auth.entity.User" resultMap="BaseResultMap">
        select * from user where username = #{username}
    </select>-->

    <insert id="newUserAuth" parameterType="org.security.auth.dto.AuthDto">
        INSERT INTO user_roles (User_id,roles_id) VALUES (#{userId},#{roleId})
    </insert>

    <update id="modifyPassword" parameterType="org.security.auth.entity.User">
        UPDATE user SET password=#{password},update_time=now() WHERE  del_fag=0  AND (id = #{id})
    </update>

</mapper>
